#EXERCICI 1

#Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

In [1]:
import pandas as pd
df= pd.read_csv ("C:\\Users\\client277192\\Documents\\01-IT ACADEMY. DATA SCIENCE\\NUMPY+PANDAS\\TASCA M3\\DelayedFlights.csv")
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [2]:
datos_columnas= df[["Year", "Month", "UniqueCarrier","FlightNum","ActualElapsedTime", "AirTime","ArrDelay","DepDelay","Dest","Origin", "Distance","Cancelled","Diverted","CarrierDelay", "WeatherDelay","NASDelay",	"SecurityDelay","LateAircraftDelay"]]
datos =datos_columnas.sample(200000)
datos

,Year,Month,UniqueCarrier,FlightNum,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Dest,Origin,Distance,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
24908,2008,1,WN,2019,60.0,44.0,339.0,339.0,LAS,BUR,223,0,0,211.0,0.0,0.0,0.0,128.0
568076,2008,3,DL,1504,98.0,73.0,11.0,10.0,PHF,ATL,508,0,0,NaN,NaN,NaN,NaN,NaN
107119,2008,1,EV,4811,107.0,91.0,45.0,56.0,ATL,SBN,566,0,0,0.0,0.0,0.0,0.0,45.0
873437,2008,5,CO,201,198.0,139.0,29.0,19.0,FLL,EWR,1065,0,0,19.0,0.0,10.0,0.0,0.0
512401,2008,3,MQ,4922,135.0,122.0,-16.0,14.0,LGA,MEM,963,0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389769,2008,3,WN,3243,70.0,48.0,30.0,20.0,BUR,LAS,223,0,0,17.0,0.0,10.0,0.0,3.0
1447175,2008,9,XE,2347,139.0,75.0,214.0,186.0,EWR,CLT,529,0,0,0.0,0.0,214.0,0.0,0.0
916203,2008,6,WN,1402,103.0,92.0,61.0,73.0,HOU,STL,687,0,0,4.0,0.0,0.0,0.0,57.0
265470,2008,2,UA,1464,111.0,84.0,21.0,25.0,DEN,LAS,629,0,0,0.0,0.0,0.0,0.0,21.0
1894019,2008,12,9E,5857,88.0,70.0,6.0,21.0,CVG,DCA,411,0,0,NaN,NaN,NaN,NaN,NaN

In [3]:
 #EXERCICI 2

 #1-Resumeix estadísticament el dataset i les columnes d’interès. 
 # Fes una anàlisi estadístic del que consideris rellevant
 
# Analisis- es interesante saber el maximo de retraso en la salida y llegada de los vuelos

datos["ArrDelay"] =datos["ArrDelay"].apply(lambda x: 0 if x<0 else x) #apply para aplicar una funcion personalizada a cada elemento de la columna. Lambda para una funcion simple
valor_maximo= datos[["ArrDelay", "DepDelay"]].max()
valor_maximo

ArrDelay    1370.0
DepDelay    1521.0
dtype: float64

In [4]:
# Analisis-se muestra la media de los retrasos tanto en la llegada como partida de los vuelos, así como la media de tp de vuelo 
# y la distancia

media= round(datos[["ArrDelay", "DepDelay","AirTime", "Distance"]].mean()) #round para un rdo. sin decimales
media

ArrDelay     43.0
DepDelay     43.0
AirTime     108.0
Distance    766.0
dtype: float64

In [5]:
#Analisis-Se muestra el origen, destino y la compañia que han tenido mayores retrasos en las llegadas y las salidas

valor_maximo= datos[["ArrDelay", "DepDelay"]].max()
datos_ArrDelay =datos.loc[datos["ArrDelay"] == valor_maximo["ArrDelay"], ["Origin", "Dest", "UniqueCarrier", "ArrDelay"]].values[0]
print("el origen del vuelo con mas retraso en la llegada es: Origen, Destino, Compañia, Retraso") 
datos_ArrDelay

el origen del vuelo con mas retraso en la llegada es: Origen, Destino, Compañia, Retraso

array(['LGA', 'MIA', 'AA', 1370.0], dtype=object)

In [6]:
datos_DepDelay =datos.loc[datos["DepDelay"] == valor_maximo["DepDelay"], ["Origin", "Dest", "UniqueCarrier", "DepDelay"]].values[0]
print(f"el origen del vuelo con mas retraso en la salida es: Origen, Destino, Compañia, Retraso") 
datos_DepDelay

el origen del vuelo con mas retraso en la salida es: Origen, Destino, Compañia, Retraso

array(['LGA', 'MIA', 'AA', 1521.0], dtype=object)

In [7]:
#Analisis-se calcula el % de vuelos cancelados y desviados
vuelos_cancelados = datos["Cancelled"]. sum()
vuelos_desviados = datos["Diverted"]. sum()
total_vuelos = datos ["FlightNum"]. count()
porcentaje_cancelados = (vuelos_cancelados/total_vuelos)*100
porcentaje_desviados = (vuelos_desviados/total_vuelos)*100
print(f"el porcentaje de vuelos cancelados es {porcentaje_cancelados:.2f}%")
print(f"el porcentaje de vuelos desviados es {porcentaje_desviados:.2f}%")

el porcentaje de vuelos cancelados es 0.03%
el porcentaje de vuelos desviados es 0.39%

In [8]:
#Analisis-se calcula el % de vuelos con retraso en la llegada teniendo en cuenta que un retraso de 15 minutos se considera como que llega a la hora
# y el % del retraso en la salida

vuelos_con_retraso_llegada =datos.loc[datos["ArrDelay"]>15, "ArrDelay"].sum() 
vuelos_con_retraso_salida = datos["DepDelay"].sum()
total_vuelos = datos ["FlightNum"].count()
porcentaje_retraso_llegada = (vuelos_con_retraso_llegada/total_vuelos)*100
porcentaje_retraso_salida = (vuelos_con_retraso_salida/total_vuelos)*100
print(f"el porcentaje de vuelos con retraso en la llegada es de {porcentaje_retraso_llegada:.2f}%")
print(f"el porcentaje de vuelos con retraso en la salida es de {porcentaje_retraso_salida:.2f}%")

el porcentaje de vuelos con retraso en la llegada es de 4045.97%
el porcentaje de vuelos con retraso en la salida es de 4308.95%

In [9]:
# Analisis-Calculamos que motivo produce mas retrasos, de los que estan informados
causa_retrasos= round(datos[["CarrierDelay","WeatherDelay", "NASDelay","SecurityDelay","SecurityDelay"]].sum())
causa_retrasos =causa_retrasos.sort_values(ascending=False)
causa_retrasos

CarrierDelay     2448840.0
NASDelay         1955701.0
WeatherDelay      480972.0
SecurityDelay      11892.0
SecurityDelay      11892.0
dtype: float64

In [10]:
#Troba quantes dades faltants hi ha per columna. is nul

nulos = datos[["Year","Month","UniqueCarrier","AirTime","ArrDelay","DepDelay","Origin","Dest","Distance","Cancelled","Diverted","CarrierDelay","WeatherDelay","NASDelay","SecurityDelay","LateAircraftDelay"]].isnull().sum()
nulos

Year                     0
Month                    0
UniqueCarrier            0
AirTime                841
ArrDelay               841
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
Cancelled                0
Diverted                 0
CarrierDelay         71223
WeatherDelay         71223
NASDelay             71223
SecurityDelay        71223
LateAircraftDelay    71223
dtype: int64

In [11]:
#Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).
datos["Velocidad_media_vuelo"]= datos["AirTime"]/datos["Distance"]
datos["retraso"] = datos["ArrDelay"] > 0
datos.head(5)

,Year,Month,UniqueCarrier,FlightNum,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Dest,Origin,Distance,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Velocidad_media_vuelo,retraso
24908,2008,1,WN,2019,60.0,44.0,339.0,339.0,LAS,BUR,223,0,0,211.0,0.0,0.0,0.0,128.0,0.197309,True
568076,2008,3,DL,1504,98.0,73.0,11.0,10.0,PHF,ATL,508,0,0,NaN,NaN,NaN,NaN,NaN,0.143701,True
107119,2008,1,EV,4811,107.0,91.0,45.0,56.0,ATL,SBN,566,0,0,0.0,0.0,0.0,0.0,45.0,0.160777,True
873437,2008,5,CO,201,198.0,139.0,29.0,19.0,FLL,EWR,1065,0,0,19.0,0.0,10.0,0.0,0.0,0.130516,True
512401,2008,3,MQ,4922,135.0,122.0,0.0,14.0,LGA,MEM,963,0,0,NaN,NaN,NaN,NaN,NaN,0.126687,False

In [12]:
#Fes una taula de les aerolínies amb més endarreriments acumulats.ordeno

datos["retraso_Acumulado"]= datos["ArrDelay"] + datos["DepDelay"].cumsum() #creo culumna retraso acumulado
agrupación = datos.groupby(["UniqueCarrier"])["retraso_Acumulado"].sum()
columnas_mostrar =agrupación.reset_index()[["UniqueCarrier","retraso_Acumulado" ]]#.sort_values(by="retraso_Acumulado", ascending=False)
rdo=(columnas_mostrar.sort_values(by="retraso_Acumulado", ascending=False))
rdo

   UniqueCarrier  retraso_Acumulado
17            WN       1.678187e+11
1             AA       8.542919e+10
15            UA       6.299485e+10
11            MQ       6.277542e+10
14            OO       5.923782e+10
6             DL       5.030943e+10
18            XE       4.639272e+10
5             CO       4.440810e+10
16            US       4.380584e+10
7             EV       3.632519e+10
12            NW       3.470309e+10
9             FL       3.123184e+10
19            YV       2.966923e+10
4             B6       2.435464e+10
13            OH       2.349278e+10
0             9E       2.238581e+10
3             AS       1.687996e+10
8             F9       1.273105e+10
10            HA       3.352230e+09
2             AQ       2.814987e+08

In [13]:
#Quins són els vols més llargs? I els més endarrerits? 

vuelos_largos= datos.sort_values(["ActualElapsedTime"], ascending=False)
rdo1= vuelos_largos[["ActualElapsedTime", "Origin", "Dest"]]
rdo1.head(5)

         ActualElapsedTime Origin Dest
556378               686.0    EWR  HNL
253995               679.0    JFK  LAX
1069177              669.0    EWR  HNL
365249               663.0    EWR  HNL
173676               658.0    EWR  HNL

In [14]:

#vols mes endarrerits
datos["mas_retrasos"]= datos["ArrDelay"] + datos["DepDelay"].sum() 
vols_mes_endarrerits = datos.sort_values(["mas_retrasos"], ascending=False)
rdo2= vols_mes_endarrerits[["mas_retrasos","Origin", "Dest","FlightNum" ]]
rdo2.head(5)

         mas_retrasos Origin Dest  FlightNum
545038      8619277.0    LGA  MIA       2093
1228543     8619244.0    TPA  ORD       1073
1905241     8619205.0    LAS  DFW       1598
1906664     8619132.0    LAS  STL       1790
1029214     8619093.0    DEN  DTW       1226

In [ ]:
#EXERCICI 3
#Exporta el dataset net i amb les noves columnes a Excel

#datos.to_excel("Flights_modificado.xlsx")
Flights_modificado = "datos.xlsx"
datos.to_excel(Flights_modificado, index=False) # index=False hará que no se incluya el indice en el fichero de excel